body {
  background-color: #F0ECE9; 
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align:center;
}

#main_title {
  text-align: center
}

h1 {
  flex: 1 100%;
  text-align: center;
  margin: 0 0 30px;
  color: #1e4e82;
}

.cen {
  display: flex;
  flex-flow: row wrap;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 0.5px solid;
  padding: 20px 100px;
  line-height: 200%;
}

.text-input {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  padding: 10px 20px;
  font-size: 13px;
  border: 2px solid rgb(17, 67, 103);
  border-radius: 3px;
}

.search-button {
  font-family: 'Roboto', sans-serif;
  background: #E24363;
  padding: 10px 20px 10px 20px;
  border: 5px solid;
  border-radius: 3px;
  margin: auto;
  outline: none;
  border: none;
  font-size: 14px;
  color: white;
  margin-bottom: 50px;
  text-decoration: none;
}

.search-button:hover {
  background: #F24363;
  text-decoration: none;
  cursor: pointer;
}

div {
  margin: 10px;
}