body {
  background-color: #F0ECE9; 
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 100%;
  flex: 1 100%;
  text-align: center;
  margin: 0 0 10px;
  color: #674607;
}

#weather-widget {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #9fdac387;
  padding: 20px 10px;
  line-height: 20%;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 auto;
  text-align: center;
  margin: auto 16px;
}

#back {
  display: block;
  font-size: 20px;
  text-align: center;
}

img {
  vertical-align: middle;
}

p input {
  border: none;
  display: inline;
  padding: none;
  width: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

div {
  margin: 10px;
}