<!doctype html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/weather.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>

  <body>
    <br>
    <div class='top-bar'>
      <a href="/"><img style="width: 200px" src="../static/images/weatherornot.PNG"></a>
    </div>

    <div class="cen">
      <div class="weather-data">

        <form id="editor" method="POST" action="/weather">

          <div id="weather-city">
            <input name="city" placeholder="Enter a city name" style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;" required>
          </div>
          <div id="weather-temp">
            <input name="temp" placeholder="Enter a temperature..." style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;" required>
          </div>
          <div id="weather-description">
            <input name="description" placeholder="Enter a description" style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;" required>
          </div>
          <div id="wind-speed">
            <input name="wind" placeholder="Enter a wind speed..." style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;" required>
          </div>

          <div id='back'>
            <br>
            <button name="create_city" class="search-button" style="text-decoration: none;" value="True">CREATE CITY</button>
          </div>

        </form>

      </div>
    </div>

  </body>
</html>