<!doctype html>
<head>
  <meta charset="UTF-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/weather.css') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
  <br>
  <div id="weather-widget">
    <div class="weather-data">
      <div id="weather-city">
        <h1>Uh oh...</h1>
      </div>
      <hr>
      <div id="weather-temp">
        Something went wrong...
      </div>
      <hr>
      <div id="weather-description">
       <img src="static/images/sky.png">
      </div>
      <hr>
    </div>
  </div>
  <div id='back'>
      <p><a href="/">New Search</a></p>
  </div>
</body>
