<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather or Not</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>

  <body>
    <br />
    <div class='top-bar'>
      <img style="width: 200px" src="../static/images/weatherornot.PNG">
    </div>
    <div class='cen'>
      <h1 id="main_title">Search</h1>
      <form id="standard"  method="GET" action="/weather">
        <input type="text" class="text-input" name="city" placeholder="Enter a city..." maxlength="50" required>
        <input type="submit" value="Search" class="search-button">
      </form>
      <a href="/create" class="search-button" style="padding: 4px 10px; text-decoration: none;
">Create a new city!</a>
    </div>
  </body>
</html>
