<!doctype html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/weather.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}" />
  </head>

  <body>
    <br>
    <div class='top-bar'>
      <a href="/"><img style="width: 200px" src="../static/images/weatherornot.PNG"></a>
    </div>

    <div class="cen">
      <div class="weather-data">
        <div id="weather-city" style="font-size: 24px">
            <b>{{ city }}</b>
          </div>

        <form id="editor" method="GET" action="/weather">

          <input type="hidden" name="city" value="{{ city }}">
          <input type="hidden" name="timestamp" value="{{ timestamp }}">
          <div id="weather-temp">
            <input name="temp" value="{{ temp }}" style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;">
            &nbsp;&nbsp;<img src="static/images/temp.png">
          </div>
          <div id="weather-description">
            <input name="description" value="{{ description }}" style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto'; font-size: 20px;">

            &nbsp;&nbsp;<img src="static/images/sky.png">
          </div>
          <div id="wind-speed">
            <input name="wind" value="{{ wind }}" style="background-color:transparent; border: none; text-align: center; font-family: 'Roboto';
  font-size: 20px;">
            &nbsp;&nbsp;<img src="static/images/wind.png">
          </div>
          <div id='back'>
            <br>
            <button name="edit_button" value="True" class="search-button">MAKE EDITS</button>
          </div>

          <form id="refresh_form" method="GET" action="/weather">
            <div id='back'>
              <input type="hidden" name="city" value="{{ city }}">
              <button name="refresh_button" value="True" class="search-button">RESET WEATHER DATA</button><br>
              <span style="font-size: 10px">Last reset: {{ timestamp }}</span><br>

            </div>
          </form>

          <div id="outfit">
            <h5>You should wear:</h5>
            <img width="50" src="{{ top_outfit }}">
            <img width="50" src="{{ bottom_outfit }}">
            <img width="50" src="{{ shoes_outfit }}">
          </div>
          <div id="outfit">
            <h5>{{ food_type }}</h5>
            <p style="font-size: 12px">{{ food_name }}</p>
            <p style="font-size: 12px">{{ food_address }}</p>
            <img width="100" src="{{ food_image }}" style="border: 1px solid gray; margin-bottom: 10px; display: {{ display_type }}">
          </div>

        </form>

      </div>
    </div>

    <div id='back' style="margin-bottom: 30px" >
      <br>
      <a href="/" class="search-button">SEARCH A DIFFERENT CITY</a>
    </div>

  </body>
</html>
